#bar_manual{
	width:400px;
	height:400px;
	background-color:#F0F0F0;
	position:relative;
}

p{
	margin:5px;
	padding:0px;
}

#y_holder{
	position:absolute;
	bottom:0px;
	right:0px;
	width:50px;
	height:350px;
	background-color:#D14213;
}

#y_up{
	position:absolute;
	top:0px;
	right:10px;
	width:30px;
	height:25px;
	background-color:#4213D1;
}
#y_track{
	position:absolute;
	top:25px;
	right:10px;
	width:30px;
	height:300px;
	background-color:#14D213;
}
#y_down{
	position:absolute;
	bottom:0px;
	right:10px;
	width:30px;
	height:25px;
	background-color:#912D43;
}
#y_thumb_holder{
	position:relative;
	width:100%;
	height:100%;
}
#y_thumb{
	position:absolute;
	right:10px;
	top:12px;
	width:10px;
	height:60px;
	background-color:#E1E283;
}

#x_holder{
	position:absolute;
	top:0px;
	left:0px;
	width:350px;
	height:50px;
	background-color:#D14213;
}

#x_left{
	position:absolute;
	top:10px;
	left:0px;
	width:25px;
	height:30px;
	background-color:#4213D1;
}
#x_track{
	position:absolute;
	top:10px;
	left:25px;
	width:300px;
	height:30px;
	background-color:#14D213;
}
#x_right{
	position:absolute;
	top:10px;
	right:0px;
	width:25px;
	height:30px;
	background-color:#912D43;
}
#x_thumb_holder{
	position:relative;
	width:100%;
	height:100%;
}
#x_thumb{
	position:absolute;
	left:27px;
	top:10px;
	width:90px;
	height:10px;
	background-color:#E1E283;
}

#corner{
	position:absolute;
	top:0px;
	right:0px;
	width:50px;
	height:50px;
	background-color:#215433;
}

#viewport{
	overflow:hidden;
	position:relative;
	height:100%;
	width:100%;
}

#overview{
	position:absolute;
	left:0;
	top:0;
	width:900px;
	min-height:999px;
	margin:0px;
	padding:0px;
	color:#121212;
}